.custom-navbar {
    background-color: #f8b400; /* Light orange background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.custom-navbar .navbar-brand {
    color: #fff; /* White text color */
}

.custom-navbar .nav-link {
    color: #fff; /* White text color */
}

.custom-navbar .nav-link:hover {
    color: #333; /* Darker color on hover */
}

.profile-name {
    margin-left: 8px; /* Space between icon and name */
}
